* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	width: 100%;
}

.container {
	margin-left: auto;
}

h1,
h3,
h4,
h2 {
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	font-weight: bolder;
	color: #2d3c49;
}

h1 {
    font-size: 60px;
    font-weight: lighter;
	font-family: 'Lato', sans-serif;
}

.logo {
	width: 109px;
	height: 100px;
}

header,
hr,
main,
section {
	width: 80%;
	margin: 0 auto;
}

hr {
	border-top: #2d3c49 3px solid;
	height: 2px;
	margin-top: 40px;
}

main {
	margin-top: 35px;
}

.pic {
   width:100%;
   background-size: contain;
}

section {
	margin-top: 50px;
}

article {
	margin-top: 30px;
}

.right {
	text-align: right;
}

.uppercase {
	text-transform: uppercase;
}

.bottom {
	margin-top: 20px;
	width: 100%;
	height: 100%;
}

.first {
	margin-top: 0;
}

.last {
	margin-right: 0;
}

.bottomimage {
	width: 100%;
}

.center {
	text-align: center;
}

h6 {
	color: #7d97ad;
}

section>h2 {
	color: #7d97ad;
	margin-bottom: 20px;
}

section>article>h2,
section>article>h6{
	position: relative;
	top: 4px;
}

footer {
	padding-bottom: 50px;
}


@media screen and (min-width:1080px) {
	header {
	margin-top: 75px;
	display: flex;
	flex-wrap: wrap;
	}

	header,
	hr,
	main,
	section {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	}

	article {
	float: left;
	margin-right: 30px;
	width: calc((100%-60px)/3);
	margin-top: 0;
	}

    h3 {
	float: right;
	}

     section>h2 {
	float: left;
	}

	.bottom {
	margin-top: 20px;
	display: flex;
	width: 100%;
	height: 100%;
	}
}
/* for diapllying title and logo in the center*/
@media screen and (max-width:680px ) {

	header,
	hr,
	main,
	section {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	}

	h6 {
	letter-spacing: 5px;
	}


	h1,
	h2,
	h3,
	h4,
	h6 {
	letter-spacing: 3px;
	}

	header {
	margin-top: 75px;
	}

	h3 {
	text-align: center;
	}

}
@media screen and (max-width: 1080px) {
	.logo {
		width: 100px;
		position: relative;
		left: 50%;
		margin-left: -50px;
	}

}
